@{
    ViewBag.Title = "TooDoo!!!";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
            <p>
                Ever wondered if there's a place somewhere where you could create and manage TooDoos and have lots of fun? 
                Welcome, friend! 
                
                Your journey full of marvellous adventures starts here
            </p>
        </div>
    </section>
}
<h3>For the smoothest experience we suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Add your friends, pals and buddies!</h5>
        Ask your friend for his TooDoo's unique name and add him to your buddy list. The more the merrier!
    </li>

    <li class="two">
        <h5>Create a TooDoo!</h5>
        Your Journal. Here you can create and assign toodoos to all your friends or to yourself. Don't forget to track the progress ;)
    </li>

    <li class="three">
        <h5>Time to be a hero!</h5>
        Check out if there are any quests available for you. Complete them and win the fame of the greatest hero of all time! No kidding!
    </li>
</ol>
