@model IEnumerable<TooDooWebRole.Models.TooDooEntry>

@{
    ViewBag.Title = "Below is the status of TooDoos you've opened";
}

<h2>TooDoos you've assigned</h2>

<p>
    Track the progress of your assignments and reward (generously?) those who fulfilled their tasks
</p>
<table class="table table-striped">
    <tr>
        <th>Thing TooDoo</th>
        <th>Assigned To</th>
        <th>Status</th>
        <th>Creation date</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @if (item.IsDone) {
                <span>Fixed</span>
            }
            else {
                <span>Open</span>   
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
    </tr>
}

</table>

<a href="/Tasks/Create">Create a New TooDoo</a>