@{
    ViewBag.Title = "Tremendous success";  
}

<div class="hero-unit">
    <h1>TREMENDOUS SUCCESS!</h1>
    <p class="lead">Your TooDoo has been created!</p>
    <p><a href="/Tasks/Create" class="btn btn-primary btn-large">Why stop now? Create another TooDoo &raquo;</a></p>
    <p><a href="/Tasks/Status" class="btn btn-primary btn-large">Track progress of your previous assignments &raquo;</a></p>
</div>
